<%- include("header") -%>
  
   <!-- choose section start -->
   <div class="choose_section margin_90">
      <div class="container">
         <h1 class="choose_taital">Why Choose Us</h1>
         <p class="choose_text">It is a long established fact that a reader will beIt is a long established fact that a
            reader will be</p>
         <div class="choose_section_2">
            <div class="choose_left">
               <div class="choose_left_main">
                  <div class="icon_1"><img src="images/icon-1.png"></div>
               </div>
               <div class="choose_right_main">
                  <h1 class="satisfied_text">99%<br><span class="satisfied_text_1">SATISFIED Customer</span></h1>
               </div>
            </div>
            <div class="choose_middle">
               <div class="choose_left_main">
                  <div class="icon_1"><img src="images/icon-2.png"></div>
               </div>
               <div class="choose_right_main">
               <!-- header section start -->
   <div class="header_section">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
         <div class="logo"><a href="index.html"><img src="images/logo.png"></a></div>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
               <a class="nav-item nav-link" href="index.html">Home</a>
               <a class="nav-item nav-link" href="about.html">About</a>
               <a class="nav-item nav-link" href="teashop.html">Teashop</a>
               <a class="nav-item nav-link" href="pricing.html">Pricing</a>
               <a class="nav-item nav-link" href="testimonies.html">Testimonies</a>
               <a class="nav-item nav-link" href="contact.html">Contact</a>
            </div>
         </div>
         <div class="login_menu">
            <a href="#"><img src="images/search-icon.png"></a>
         </div>
      </nav>
   </div>    <h1 class="satisfied_text">40+<br><span class="satisfied_text_1">AWESOME TEA</span></h1>
               </div>
            </div>
            <div class="choose_middle_1">
               <div class="choose_left_main">
                  <div class="icon_1"><img src="images/icon-3.png"></div>
               </div>
               <div class="choose_right_main">
                  <h1 class="satisfied_text">4500+<br><span class="satisfied_text_1">Customer</span></h1>
               </div>
            </div>
            <div class="choose_right">
               <div class="choose_left_main">
                  <div class="icon_1"><img src="images/icon-4.png"></div>
               </div>
               <div class="choose_right_main">
                  <h1 class="satisfied_text">190+<br><span class="satisfied_text_1">DAILY VISITORS</span></h1>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- choose section end -->
   <!-- footer section start -->
   <div class="footer_section layout_padding ">
      <div class="container">
         <div class="newsletter_section">
            <div class="newsletter_left">
               <div class="footer_logo"><img src="images/footer-logo.png"></div>
            </div>
            <div class="newsletter_right">
               <h5 class="newsletter_taital">Subscribe Newsletter</h5>
               <div class="subscribe_main">
                  <input type="text" class="mail_text" placeholder="Enter your email" name="text">
                  <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               </div>
            </div>
         </div>
         <div class="footer_taital_main">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">About</h2>
                  <p class="ipsum_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                     dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Menus</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Useful Link</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="#">Adipiscing</a></li>
                        <li><a href="#">Elit, sed do</a></li>
                        <li><a href="#">Eiusmod </a></li>
                        <li><a href="#">Tempor </a></li>
                        <li><a href="#">incididunt</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Contact us</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="images/map-icon.png"><span class="padding_left_10">No.123 Chalingt
                                 Gates</span></a></li>
                        <li><a href="#"><img src="images/call-icon.png"><span class="padding_left_10">+01
                                 1234567890</span></a></li>
                        <li><a href="#"><img src="images/mail-icon.png"><span
                                 class="padding_left_10">demo@gmail.com</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <h1 class="follow_text">Follow Us</h1>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                  <li><a href="#"><img src="images/instagram-icon.png"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>

   <%- include('footer'); %>