<%- include("header") -%>
 
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container">
         <h1 class="services_taital">Our Tea Services</h1>
         <p class="services_text">It is a long established fact that a reader will be </p>
         <div class="services_section_2 layout_padding">
            <div class="row">
               <div class="col-md-6">
                  <div class="box_main active">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-1.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10 active"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Milk Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-2.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Yellow Tea</h6>
                        <h1 class="price_text">$20</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-3.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Green Tea</h6>
                        <h1 class="price_text">$20</h1>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-4.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Red Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-5.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Red Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
                  <div class="box_main">
                     <div class="left_main">
                        <div class="cup_img_1"><img src="images/cup-img-5.png"></div>
                     </div>
                     <div class="middle_main">
                        <div class="border_10"></div>
                     </div>
                     <div class="right_main">
                        <h6 class="milk_text">Red Tea</h6>
                        <h1 class="price_text">$10</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="see_bt"><a href="#">See More</a></div>
      </div>
   </div>
   <!-- services section end -->
   <!-- footer section start -->
   <div class="footer_section layout_padding">
      <div class="container">
         <div class="newsletter_section">
            <div class="newsletter_left">
               <div class="footer_logo"><img src="images/footer-logo.png"></div>
            </div>
            <div class="newsletter_right">
               <h5 class="newsletter_taital">Subscribe Newsletter</h5>
               <div class="subscribe_main">
                  <input type="text" class="mail_text" placeholder="Enter your email" name="text">
                  <div class="subscribe_bt"><a href="#">Subscribe</a></div>
               </div>
            </div>
         </div>
         <div class="footer_taital_main">
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">About</h2>
                  <p class="ipsum_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                     dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Menus</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li><a href="contact.html">Contact us</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Useful Link</h2>
                  <div class="footer_links">
                     <ul>
                        <li><a href="#">Adipiscing</a></li>
                        <li><a href="#">Elit, sed do</a></li>
                        <li><a href="#">Eiusmod </a></li>
                        <li><a href="#">Tempor </a></li>
                        <li><a href="#">incididunt</a></li>
                     </ul>
                  </div>
               </div>
               <div class="col-lg-3 col-sm-6">
                  <h2 class="useful_text">Contact us</h2>
                  <div class="addres_link">
                     <ul>
                        <li><a href="#"><img src="images/map-icon.png"><span class="padding_left_10">No.123 Chalingt
                                 Gates</span></a></li>
                        <li><a href="#"><img src="images/call-icon.png"><span class="padding_left_10">+01
                                 1234567890</span></a></li>
                        <li><a href="#"><img src="images/mail-icon.png"><span
                                 class="padding_left_10">demo@gmail.com</span></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <h1 class="follow_text">Follow Us</h1>
            <div class="social_icon">
               <ul>
                  <li><a href="#"><img src="images/fb-icon.png"></a></li>
                  <li><a href="#"><img src="images/twitter-icon.png"></a></li>
                  <li><a href="#"><img src="images/linkedin-icon.png"></a></li>
                  <li><a href="#"><img src="images/instagram-icon.png"></a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   <%- include('footer'); %>